* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    background: #000847;
    scroll-behavior: smooth;
    height: 2936px;
}

.navWrapper {
    position: absolute;
    width: 100%;
    height: 27px;
    top: 42.58px;
}

.logo {
    position: absolute;
    left: 0%;
    right: 97.15%;
    top: 8.06%;
    bottom: 0%;
    display: none;
}

.logo::selection{
    background: #446DFF;
}

.exp {
    position: absolute;
    left: 17.44%;
    right: 71.22%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.6);
}

.exp:hover{
    cursor: pointer;
    color: white;
}


.proj{
    position: absolute;
    left: 38.22%;
    right: 53.33%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.6);
}

.proj:hover{
    cursor: pointer;
    color: white;
}

.resume{
    position: absolute;
    left: 56.11%;
    right: 35.44%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.6);
}

.resume:hover{
    cursor: pointer;
    color: white;
}

.contact{
    position: absolute;
    left: 74%;
    right: 17.56%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.6);
}

.contact:hover{
    cursor: pointer;
    color: white;
}

.github{
    position: absolute;
    left: 81.23%;
    right: 16.18%;
    top: 12.77%;
    bottom: 20.3%;
    opacity: 0.6;
    display: none;
}

.github:hover{
    cursor: pointer;
    opacity: 1;
}

.email {
    position: absolute;
    left: 88.67%;
    right: 7.87%;
    top: 17.49%;
    bottom: 23.58%;
    opacity: 0.6;
    display: none;
}

.email:hover{
    cursor: pointer;
    opacity: 1;
}

.linkedIn {
    position: absolute;
    left: 96.54%;
    right: 0.86%;
    top: 12.77%;
    bottom: 20.3%;
    opacity: 0.6;
    display: none;
}

.linkedIn:hover{
    cursor: pointer;
    opacity: 1;
}

.faceWrapper {
    position: absolute;
    top: 136px;
    text-align: center;
    width: 100%;
    height: 170px;
}

.face{
    width: 172px;
    height: 170px;
    display: inline-block;
}

.heyWrapper {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 331px;    
    text-align: center;
    
}

.wave{
    display: inline-block;
}

.CTAWrapper {
    position: absolute;
    width: 78.04%;
    height: 210px;
    left: 11.7968%;
    top: 388px;
}

.introText {
    left: -1.56%;
    right: -1.66%;
    margin-top: 0px;
    margin-bottom: 150px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;

    color: #FFFFFF;
}

.currText {
    position: absolute;
    left: 233px;
    right: 233px;
    margin-top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.CTABtnDiv {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 496px;
    text-align: center;
}

.topBtnWrapper {
    width: 445.07px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 80.34%;
}

.exploreBtn {
    position: absolute;
    left: 0%;
    right: 44.52%;
    border: none;
    height: 50px;
    width: 238px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    background: #446DFF;
    border-radius: 7px;
}

.exploreBtn:hover{
    cursor: pointer;
    background: #3A60E4;
}

.exploreBtn:focus{
    outline: none;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.15);
}

.getInTouchBtn {
    position: absolute;
    left: 61.77%;
    right: 0%;
    height: 50px;
    width: 164px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;

    background: rgba(255, 255, 255, 0.10);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;    
}

.getInTouchBtn:hover {
    background: rgba(255, 255, 255, 0.20);
    cursor: pointer;
}

.getInTouchBtn:focus{
    outline: none;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.15);
}

.workExpText {
    position: absolute;
    height: 45px;
    left: 7.265625%;
    top: 738px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.workWrapper1 {
    position: absolute;
    width: 87.03125%;
    height: 5.0554%;
    left: 7.265625%;
    top: 808px;
}

.workImg1 {
    position: absolute;
    left: 0%;
    right: 92.82%;
    top: 0%;
    bottom: 75px;
    width: 54px;
    display: none;
}

.workInfoWrapper1 {
    position: absolute;
    left: 0%;
    height: 145px;
    width: 95%;
    top: 4px;
    bottom: 0%;
    border-radius: 0px;
}

.workHead1 {
    position: absolute;
    left: 0%;
    margin-top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* identical to box height */

    text-align: center;

    color: #446DFF;
}

.workDate1 {
    position: absolute;
    left: 0%;
    margin-top: 30px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.workDesc1 {
    position: absolute;
    left: 0%;
    margin-top: 65px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 150;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

.projWrapper {
    position: absolute;
    width: 100%;
    top: 1138px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projHead {
    position: absolute;
    left: 7.27%;
    top: 1050px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
    
}

.totProjDesc {
    position: absolute;
    left: 7.265625%;
    top: 1119px;
    right: 8%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    /* identical to box height */
    
    color: #FFFFFF;
}

.proj1 {
    margin-top: 11.19%;
    background: #FFFFFF;
    border-radius: 8px;
    height: 400px;
    width: 450px;
}

.proj1:hover{
    cursor: pointer;
}

.logoBackDrop1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 144px;
    width: 100%;

    background: #446DFF;
    border-radius: 8px 8px 0px 0px;
}

.proj1Pic {
    position: absolute;
    left: 42.5%;
    right: 42.71%;
    top: 28.47%;
    bottom: 29.17%;
}

.crowdsupply {
    position: absolute;
    left: 35.42%;
    right: 35.62%;
    margin-top: 161px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #000847;
}

.toolsPic1 {
    position: absolute;
    left: 40.83%;
    right: 40.77%;
    top: 51.25%;
    bottom: 42.75%;
}

.projDesc1 {
    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 59%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: center;

    color: #000847;
}

.finPic1 {
    position: absolute;
    left: 1.46%;
    right: 1.67%;
    top: 90.25%;
    bottom: 1.75%;
    width: 96.875%;
}

.proj2 {
    margin-top: 60px;
    background: #FFFFFF;
    border-radius: 8px;
    height: 400px;
    width: 450px;
}

.proj2:hover{
    cursor: pointer;
}

.logoBackDrop2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 144px;
    width: 100%;

    background: #446DFF;
    border-radius: 8px 8px 0px 0px;
}

.proj2Pic {
    position: absolute;
    left: 40.21%;
    right: 39.43%;
    top: 28.47%;
    bottom: 29.17%;
}

.universal {
    position: absolute;
    left: 35.42%;
    right: 35.62%;
    margin-top: 161px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #000847;
}

.toolsPic2 {
    position: absolute;
    left: 40.83%;
    right: 40.77%;
    top: 51.25%;
    bottom: 42.75%;
}

.projDesc2 {
    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 59%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: center;

    color: #000847;
}

.finPic2 {
    position: absolute;
    left: 1.46%;
    right: 1.67%;
    top: 90.25%;
    bottom: 1.75%;
    width: 96.875%;
}

.proj3 {
    margin-top: 60px;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 8px;
    height: 400px;
    width: 450px;
}


.logoBackDrop3 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 144px;
    width: 100%;

    background: #446DFF;
    border-radius: 8px 8px 0px 0px;
}

.proj3Pic {
    position: absolute;
    left: 43.54%;
    right: 44.17%;
    top: 28.47%;
    bottom: 29.17%;   
}

.greenTweet {
    position: absolute;
    left: 35.42%;
    right: 35.62%;
    margin-top: 161px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #000847;
}

.toolsPic3 {
    position: absolute;
    left: 36.67%;
    right: 37.02%;
    top: 51.5%;
    bottom: 42.5%;
}

.projDesc3 {
    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 59%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: center;

    color: #000847;
}

.devPic3 {
    position: absolute;
    left: 1.46%;
    right: 1.67%;
    top: 90.25%;
    bottom: 1.75%;
    width: 96.875%;
}

.proj4 {
    margin-top: 60px;
    background: #FFFFFF;
    border-radius: 8px;
    height: 400px;
    width: 450px;
}


.logoBackDrop4 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 144px;
    width: 100%;

    background: #446DFF;
    border-radius: 8px 8px 0px 0px;
}

.proj4Pic {
    position: absolute;
    left: 45.21%;
    right: 45.27%;
    top: 28.47%;
    bottom: 29.17%;
}

.wildfire {
    position: absolute;
    left: 35.42%;
    right: 35.62%;
    margin-top: 161px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #000847;
}

.toolsPic4 {
    position: absolute;
    left: 36.67%;
    right: 37.02%;
    top: 51.5%;
    bottom: 42.5%;
}

.projDesc4 {
    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 59%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: center;

    color: #000847;
}

.devPic4 {
    position: absolute;
    left: 1.46%;
    right: 1.67%;
    top: 90.25%;
    bottom: 1.75%;
    width: 96.875%;
}

.contactForm {
    width: 100%;
}

.contactHead{
    position: absolute;
    height: 45px;
    left: 7.2656%;
    top: 3030px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 45px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

.contactDesc {
    position: absolute;
    height: 54px;
    left: 7.2656%;
    top: 3079px;
    width: 83.828%;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    
    color: #FFFFFF;
}

.contactWrapper {
    position: absolute;
    width: 83.828%;
    height: 645px;
    left: 8.046%;
    top: 3185px;

    background: #FFFFFF;
    border-radius: 10px;
}

.nameField {
    position: absolute;
    height: 87px;
    left: 26px;
    right: 26px;
    top: 26px;
}

.namePic {
    position: absolute;
    left: 3.33%;
    right: 92.93%;
    top: 62.07%;
    bottom: 17.24%;
    height: 18px;
    width: 18px;
    z-index: 2;
    display: none;
}

.nameLbl {
    position: absolute;
    left: 0%;
    top: 0%;
    margin-bottom: 68.97%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000847;
}

.name {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 44.83%;
    height: 48px;
    width: 100%;

    background: #FFFFFF;
    border: 2px solid #446DFF;
    box-sizing: border-box;
    border-radius: 7px;
    z-index: 1;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000847;
}

.name:focus {
    border: 2px solid #446DFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px rgba(68, 109, 255, 0.15);
    outline: none;
}

.emailField {
    position: absolute;
    height: 87px;
    left: 26px;
    top: 136px;
    right: 26px;
    text-align: center;
}

.emailLbl {
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 68.97%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000847;
}

.emailInput {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 44.83%;
    bottom: 0%;
    height: 48px;
    width: 100%;
    border-radius: 7px;

    background: #FFFFFF;
    border: 2px solid #446DFF;
    box-sizing: border-box;
    border-radius: 7px;
    z-index: 1;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000847;
}

.emailInput:focus {
    border: 2px solid #446DFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px rgba(68, 109, 255, 0.15);
    outline: none;
 }
.emailPic {
    position: absolute;
    left: 3.74%;
    right: 90.33%;
    top: 62.07%;
    bottom: 17.24%;
    height: 18px;
    width: 28.532468795776367px;
    z-index: 2;
    display: none;
}

.subjField {
    position: absolute;
    height: 79px;
    left: 26px;
    top: 246px;
    right: 26px;
}

.subjLbl {
    position: absolute;
    left: 0%;
    right: 93.02%;
    top: 0%;
    bottom: 65.82%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #000847;
}

.subjPic {
    position: absolute;
    left: 1.57%;
    right: 96.26%;
    top: 58.23%;
    bottom: 18.99%;
    z-index: 2;
    display: none;
}

.subject {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 39.24%;
    bottom: 0%;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #446DFF;
    box-sizing: border-box;
    border-radius: 7px;
    z-index: 1;
    padding-left: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000847;
}

.subject:focus {
    border: 2px solid #446DFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px rgba(68, 109, 255, 0.15);
    outline: none;
}

.msgField {
    position: absolute;
    height: 274px;
    left: 26px;
    top: 346px;
    right: 26px;
}

.msgLbl {
    position: absolute;
    left: 0%;
    right: 91.74%;
    top: 0%;
    bottom: 90.15%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #000847;
}

.msg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 14.6%;
    bottom: 30.66%;
    height: 150px;
    width: 100%;
    border-radius: 7px;
    padding-left: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
    color: #000847;

    background: #FFFFFF;
    border: 2px solid #446DFF;
    box-sizing: border-box;
    border-radius: 7px;
}

.msg:focus {
    border: 2px solid #446DFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px rgba(68, 109, 255, 0.15);
    outline: none;
}

.sentCheck {
    position: absolute;
    left: 48.77%;
    right: 48.77%;
    top: 87.59%;
    bottom: 5.6%;
    z-index: 2;
    display: none;
}

.contactSubmit {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 81.39%;
    bottom: 0%;
    height: 51px;
    width: 100%;
    border-radius: 7px;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
    background: #446DFF;
    border-radius: 7px;
    z-index: 1;
}

.contactSubmit:hover{
    background: #3A60E4;
    cursor: pointer;
}

.contactSubmit:focus{
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(68, 109, 255, 0.15);
}

.builtByWrapper {
    position: absolute;
    top: 3865px;
    width: 100%;
    text-align: center;
}

.builtBy {
    height: 30px;
    padding-bottom: 70px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

